@import 'tailwindcss';

@theme {
  /* Define your custom color scale using CSS variable names matching Tailwind’s naming convention */
  --color-pale-prim-50: #fefee8;
  --color-pale-prim-100: #fefebf;
  --color-pale-prim-200: #fefa8a;
  --color-pale-prim-300: #fdef47;
  --color-pale-prim-400: #fadf15;
  --color-pale-prim-500: #eac608;
  --color-pale-prim-600: #ca9b04;
  --color-pale-prim-700: #a16f07;
  --color-pale-prim-800: #85570e;
  --color-pale-prim-900: #714712;
  --color-pale-prim-950: #422506;

  --color-crusta-50:  #fef5ee;
  --color-crusta-100: #fce9d8;
  --color-crusta-200: #f9ceaf;
  /* --color-crusta-300: #f4ac7d; */
  --color-crusta-300: #f6BA93;
  --color-crusta-400: #ef814b;
  --color-crusta-500: #ea5e25;
  --color-crusta-600: #dc451a;
  --color-crusta-700: #b63318;
  --color-crusta-800: #912a1b;
  --color-crusta-900: #752519;
  --color-crusta-950: #3f100b;

  --color-foam-50: #f0fbfa;
  --color-foam-100: #cef2f2;
  --color-foam-200: #b6eaeb;
  --color-foam-300: #84d9dc;
  --color-foam-400: #4ac0c6;
  --color-foam-500: #2fa4ab;
  --color-foam-600: #2a8590;
  --color-foam-700: #286c76;
  --color-foam-800: #285962;
  --color-foam-900: #254b54;
  --color-foam-950: #143138;


}
